body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("https://media.istockphoto.com/id/172479782/photo/digital-background-featuring-clocks.jpg?s=612x612&w=0&k=20&c=eAV_01ME5mCYa4nuMB1dzSEBqo5zNC2fZx7P4LF_FuI=");
    background-imaget: justfy-content;
  }
  
  .clock {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    transition: background-color 0.3s;
   transition-timing-function: ease-in ;
    transition-delay: 2s;
  }
  
  .clock:hover {
    background-color: #f9f9f9;
    color: darkblue;
  }
  
  .clock h1 {
    font-size: 2em;
    margin-bottom: 5px;
    color: #333;
    transition: color 0.9s;
  }
  
  .clock:hover h1 {
    color: #666;
  }
  